{% extends "show/base.html.twig" %}


{% block pageHeading %}
    List of shows
{% endblock pageHeading %}

{% block content %}

    <!-- Blog Post -->

    {% for index, show in shows %}
        {% if show.getDateSource() == constant('AppBundle\\Entity\\Show::DATA_SOURCE_DB') %}
            {% set img = asset('upload/' ~ show.getMainPicture) %}
        {% else %}
            {% set img = show.getMainPicture %}
        {% endif %}
        <div class="card mb-4">
            <img class="card-img-top" src="{{ img }}" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title">{{ show.getName() }}</h2>
                <p class="card-text">{{ show.getAbstract() }}</p>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ show.getReleaseDate().format("d/m/Y") }} by {{ show.getAuthor() }}
                {% if show.getDateSource() == constant('AppBundle\\Entity\\Show::DATA_SOURCE_DB') %}
                    <form action="{{ path('show_delete') }}" method="POST">
                        <input type="hidden" name="show_id" value="{{ show.getId() }}">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('delete_show') }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger" type="submit" style="float:right;cursor:pointer;">Delete</button>
                    </form>
                    <a href="{{ path('show_update', {'id':show.getId()}) }}" class="btn btn-primary" style="float:right;margin-right:10px;">Update</a>
                {% endif %}
            </div>
        </div>
    {% else %}
        Sorry there is nothing in this Website... :(
    {% endfor %}
{% endblock content %}