{% extends "show/base.html.twig" %}


{% block pageHeading %}
    List of shows
{% endblock pageHeading %}

{% block content %}

    <!-- Blog Post -->

    {% for index, show in shows %}
    <div class="card mb-4">
        <img class="card-img-top" src="/upload/{{ show.getMainPicture() }}" alt="Card image cap">
        <div class="card-body">
            <h2 class="card-title">{{ show.getName() }}</h2>
            <p class="card-text">{{ show.getAbstract() }}</p>
        </div>
        <div class="card-footer text-muted">
            Posted on {{ show.getReleaseDate().format("d/m/Y") }} by {{ show.getAuthor() }}
        </div>
    </div>
    {% endfor %}

    <!-- Pagination -->
    <ul class="pagination justify-content-center mb-4">
        <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
        </li>
        <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
        </li>
    </ul>

{% endblock content %}